
*.json
*.sqlite
*.db
*.vsidx
.vs/zirconium/v17/.wsuo
*.db-shm
*.db-wal
*.ipch
/codebase/.vs/codebase/v17
/codebase/build
codebase/codebase.aps
codebase/codebase.rc
/codebase/.vs/codebase/copilot-chat
